header{
    background-color: #113662;
    display: block;
    margin:0 auto;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
header::after{
    content: '';
    display: table;
    clear:both;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left:60px;
    margin-right: 40px;
    padding-top:5%;
}
nav {
    float: right;
}
nav a{
    color: #E7ECEE;
    text-decoration: none;
    text-transform: uppercase;
}
.title {
    color:#E7ECEE;
    margin: 0;
    margin-top:40px;
    margin-bottom: 10px;
    margin-left:50px;
    border: 0;
    padding:0;
    font-size: 40px;
}
.creator {
    color:#E7ECEE;
    margin: 0;
    border: 0;
    padding:0;
    margin-left: 100px;
}
.cuerpo{
    background-color: #E7ECEE;
    font-family: 'sans-serif';
    font-weight:normal;
    font-style:normal;
    margin:0;
    padding: 0;
    border: 0;
}
.imagenPerfil{
    width: 150px;
    height:150px;
    margin: 20px 20px 20px 50px;
    border-radius: 150px 150px 150px 150px;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: black;
    font-size: 200%;
}
#titulo{
    margin: 0;
    margin-top: 15px;
    font-size: 40px;
}
p{
    font-size: 30px;
    text-align: center;
}
.autor{
    font-family: 'CaveatBold';
    font-size: 20px;
    font-style: italic;    
    text-align:left ;
    margin-left: 20px;
    margin-top: 1px;
    margin-bottom: 20px;          
}
#mover:hover{
    color:rgb(8, 68, 18);
}
.noLine{
    text-decoration: none;
}
.urls{
    font-size: 30px;
}
.descripcion{
    float: right;
}

  @font-face {
    font-family: 'CaveatRegular';
      src: url('Fonts/Caveat-Regular.eot'); /* IE9 Compat Modes */
      src: url('Fonts/Caveat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('Fonts/Caveat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('Fonts/Caveat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
          url('Fonts/Caveat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
          url('Fonts/Caveat-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
      font-weight: 400;
      font-style: normal;
  }
  @font-face {
    font-family: 'CaveatSemiBold';
      src: url('Fonts/Caveat-SemiBold.eot'); /* IE9 Compat Modes */
      src: url('Fonts/Caveat-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('Fonts/Caveat-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
          url('Fonts/Caveat-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
          url('Fonts/Caveat-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
          url('Fonts/Caveat-SemiBold.svg#svgFontName') format('svg'); /* Legacy iOS */
      font-weight: 400;
      font-style: normal;
  }
  @font-face {
    font-family: 'CaveatMedium';
      src: url('Fonts/Caveat-Medium.eot'); /* IE9 Compat Modes */
      src: url('Fonts/Caveat-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('Fonts/Caveat-Medium.woff2') format('woff2'), /* Super Modern Browsers */
          url('Fonts/Caveat-Medium.woff') format('woff'), /* Pretty Modern Browsers */
          url('Fonts/Caveat-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
          url('Fonts/Caveat-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
      font-weight: 400;
      font-style: italic;
  }
  @font-face {
    font-family: 'CaveatBold';
      src: url('Fonts/Caveat-Bold.eot'); /* IE9 Compat Modes */
      src: url('Fonts/Caveat-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('Fonts/Caveat-Bold.woff2') format('woff2'), /* Super Modern Browsers */
          url('Fonts/Caveat-Bold.woff') format('woff'), /* Pretty Modern Browsers */
          url('Fonts/Caveat-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
          url('Fonts/Caveat-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
      font-weight: 400;
      font-style: normal;
  }
